.name{
    padding-top: 7px;
    padding-left: 50px
}

.channel{
    padding: 10px 20px
}

.channel:hover {
  background-color: blue;
  border-radius: 15px
}

a{
   text-decoration: none;
   color: rgb(188, 197, 205);
}