
.header {
    box-sizing: border-box;

    display: flex;
    align-items: center;

    width: 100%;

    gap: 35px;

    padding-right: 35px;

    background-color: rgb(44, 44, 51);
}

.a {
    font-size: 20px;
}