.LeftBoxItemActiveStyle {
    font-size: 28px;
    color: darkgray;
    text-align: center;
    background-color: hsla(0,0%,100%,.08);
    cursor: pointer;
}

.LeftBoxItemDefaultStyle {
    font-size: 28px;
    color: darkgray;
    text-align: center;
    background-color: black;
    cursor: pointer;
}