.TableItemStyle {
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 72, 71);
    border-radius: 10px;
    position: relative;
}

.logoChannelStyle {
    width: 5%;
    height: 5%;
    padding: 10px;
}

.textStyle {
    font-size: larger;
    color: darkgray;
    font-weight: bolder;
}

.editLogoStyle {
    width: 20px;
    height: 20px;
    padding: 25px;
    right: 5%;
    position: absolute;
}

.deleteLogoStyle {
    width: 20px;
    height: 20px;
    padding: 25px;
    right: 0%;
    position: absolute;
}